{{ define "main" }} {{ partial "genheader.html" . }}
<main>
  <div class="tablet-desktop">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Class</th>
          <th>Days</th>
          <th>Times</th>
          <th>Instructor</th>
          <th>Room</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mon-Fri</td>
          <td>Nutrition</td>
          <td>11:00 to 12:00</td>
          <td>Jon Doe</td>
          <td>114</td>
        </tr>
        <tr>
          <td>Mon-Fri</td>
          <td>Nutrition</td>
          <td>11:00 to 12:00</td>
          <td>Jon Doe</td>
          <td>114</td>
        </tr>
        <tr>
          <td>Mon-Fri</td>
          <td>Nutrition</td>
          <td>11:00 to 12:00</td>
          <td>Jon Doe</td>
          <td>114</td>
        </tr>
        <tr>
          <td>Mon-Fri</td>
          <td>Nutrition</td>
          <td>11:00 to 12:00</td>
          <td>Jon Doe</td>
          <td>114</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{{ end }}
