{{ define "main" }}
{{ partial "home/jumbotron.html" . }}
<main class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-4">
      <figure>
        <a href="/classes"
          ><img
            src="/img/800x600.png"
            alt="group of fitness people"
            class="img-fluid"
        /></a>
      </figure>
      <h1>Group Fitness</h1>
      <p class="lead">
        We offer a variety of fitness classes to meet your busy schedule.
      </p>
    </div>
    <div class="col-sm-4">
      <figure>
        <a href="/nutrition"
          ><img
            src="/img/800x600.png"
            alt="group of fitness people"
            class="img-fluid"
        /></a>
      </figure>
      <h1>Nutrition Planning</h1>
      <p class="lead">
        We work with you to provide custom nutrition plans to help you reach
        your goals.
      </p>
    </div>
    <div class="col-sm-4">
      <figure>
        <a href="/about"
          ><img
            src="/img/800x600.png"
            alt="group of fitness people"
            class="img-fluid"
        /></a>
      </figure>
      <h1>Personal Training</h1>
      <p class="lead">
        Learn more about personal training and our state-of-the-art equipment.
      </p>
    </div>
  </div>
</main>
{{ end }}
