<header class="jumbotron hero">
  <div class="container welcome text-white">
    <div class="d-flex justify-content-center">
      <img
        src="/img/185x104.png"
        alt="Ultra fitness Club logo"
        class="float-left mr-3 img-fluid"
      />
    </div>
    <h1 class="jumbotron-heading">Welcome to the Ultra Fitness Club</h1>
    <div class="d-flex justify-content-center">
      <p class="text-center">Train with us. Gain with us.</p>
    </div>
    <div class="d-flex justify-content-center">
      <a
        href="/contact"
        role="button"
        class="btn btn-outline-secondary btn-lg bg-dark text-white"
      >
        Start Your Free Trial
      </a>
    </div>
  </div>
</header>
